<% include ../partials/header.ejs %>

    <h1>Pessoas</h1>
    <p><a href="/pessoas/create">Nova pessoa</a></p>

    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        <% result.data.map( pessoa => { %>
        <tr>
            <td><%= pessoa.nome %></td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" class="btn btn-default" href="/pessoas/update/<%= pessoa.id %>">Editar</a>
                    <a type="button" class="btn btn-default" href="/pessoas/delete/<%= pessoa.id %>" onclick="return confirm('Deseja realmente excluir?')">Excluir</a>
                </div>
            </td>
        </tr>
        <% }) %>
    </table>
    Mostrar: <a href="/pessoas?pageSize=10">10</a>
    <a href="/pessoas?pageSize=50">50</a>
    <a href="/pessoas?pageSize=100">100</a>
    <a href="/pessoas?pageSize=200">200</a>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <% if(result.pagination.currentPage > 0){ %>
                <li class="page-item"><a class="page-link" href="/pessoas?page=<%=(result.pagination.currentPage-1)%>&pageSize=<%=result.pagination.pageSize%>">Previous</a></li>
                <% } %>
                <% for(let i = 0; i < result.pagination.pages; i++ ){ %>
                    <li class="page-item <%if(i == result.pagination.currentPage){%>active<%}%>"><a class="page-link" href="/pessoas?page=<%= i %>&pageSize=<%=result.pagination.pageSize%>"><%= i+1 %></a></li>
                <% } %>
                <% if(result.pagination.currentPage < result.pagination.pages-1){ %>
                    <li class="page-item"><a class="page-link" href="/pessoas?page=<%=result.pagination.currentPage+1%>&pageSize=<%=result.pagination.pageSize%>">Next</a></li>
                <% }%>
        </ul>
      </nav>

<% include ../partials/footer.ejs %>


